<div class="row">
  <div class="col-4 offset-4 my-5">
    <input type="text" class="form-control" placeholder="Search" (keyup)="onChangePhrase($event)">
  </div>
  <button class="btn btn-primary btn-block btn-lg mb-5" [routerLink]="onClickNewQuiz()">Create a new quiz</button>
  <table class="table table-striped mb-5">
    <thead>
      <tr>
        <th (click)="onClickTableHeader('id')">#</th>
        <th (click)="onClickTableHeader('title')">Title</th>
        <th (click)="onClickTableHeader('description')">Description</th>
        <th (click)="onClickTableHeader('questions')">Questions</th>
        <th (click)="onClickTableHeader('active')">Active</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr
        *ngFor="let quiz of quizListWithQuestions$ | async | filter:'title':phrase | sorter:clickedColumn:sortingDirection">
        <td>{{ quiz.id }}</td>
        <td>{{ quiz.title }}</td>
        <td>{{ quiz.description }}</td>
        <td>
          <li *ngFor="let question of quiz.questions">
            <span>{{ question.question }}</span>
          </li>
        </td>
        <td>
          <div *ngIf="quiz.active" style="text-align: center;"><i class="fa fa-check"></i></div>
          <div *ngIf="!quiz.active" style="text-align: center;"><i class="fa fa-times"></i></div>
        </td>
        <td class="text-center">
          <div class="btn-group">
            <button class="btn btn-secondary" [routerLink]="['quiz/' + quiz.id]">
              <i class="fa fa-edit"></i>
            </button>
            <button class="btn btn-danger" (click)="onClickDelete(quiz.id || 0)">
              <i class="fa fa-trash"></i>
            </button>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>